<div class="contenedor-tareas">
<ol ><h5> <em> <u>Asignaciones:</u></em> </h5> 
    <li>Cambiar fondo de cuadro de "presentacion de datos" manipulando la hoja de estilo <code>styles.scss</code></li>
    <li>Cambiar el fondo del input "nombre" utilizando directamente <code>ngStyle</code></li>

    <li>Cambiar el fondo del input "Apellido" utilizando <code>ngStyle</code> controlado con el boton 1 </li>
    <li>Cambiar el fondo del input "Nacionalidad" utilizando <b>Referencias Locales</b>, <code>@ViewChild</code> y <code>Renderer2</code> controlado con el boton 2 </li>
    <li>Habilitar y deshabilitar el boton 4 al hacer click en el boton 3 (<code>ngClass</code>) </li>
    <li>Crear una directiva (<code>@Directives</code>) para el boton A y B, Utilizar decoradores <code>@HostBinding</code> y <code>@HostListener</code> </li>
</ol>
<ul><h5> <em> <u>Adicional:</u></em> </h5> 
    <li>Consumir servicio REST con <kbd>json-server</kbd> para poblar tabla </li>
</ul>


</div>